.margin-top-20 {
    margin-top: 20px;
}

.padding-0 {
    padding: 0 15px;
}

.container {
    /*border: solid thin #ccc;*/
    /*padding: 10px 0 !important;*/
}

.container .form-control {
    border: 0;
}

.form-control:focus {
    outline: none;
    -webkit-box-shadow: unset !important;
    -moz-box-shadow: unset !important;
    box-shadow: unset !important;
}

.list-todo {
    list-style: none;
    padding: 0;
    border-top: solid thin #cccccc;
}

.list-todo > li {
    padding: 10px 15px;
    border-bottom: solid thin #cccccc;
}

.footer-link {
    position: relative;
    padding: 0;
}

.footer-link:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

li.disabled {
    text-decoration: line-through;
}

li.disabled > span {
    opacity: 0.3;
}

li.disabled > span.icon-remover {
    opacity: 1;
}

.icon-remover {
    display: none;
    cursor: pointer;
    color: darkred;
}

li:hover .icon-remover {
    display: block;
}

label.style-checkbox {
    float: left;
    margin: 0 10px 0 0;
}

label.style-checkbox span {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    position: relative;
    float: left;
    border: solid thin #dadada;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
    margin: 2px 0 0 0;
}

input[type=checkbox]:not(old):checked + label > span:before {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: solid thin deepskyblue;
}

label.style-checkbox span>i {
    float: left;
    color: deepskyblue;
}

input[type='checkbox'] {
    display: none;
}

.box-user {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}
.box-user>div {
    display: flex;
}
.description {
    display: none;
}
.box-user>div:first-child .description {
    display: block;
}
.list-item {
  width: 100%;
  /*border: solid thin #dddddd;*/
  /*border-top-left-radius: 5px;*/
  /*border-top-right-radius: 5px;*/
  overflow: hidden;
  margin: 0 0 30px 0;
}
.list-item figcaption {
    padding: 0;
}
.list-item img {
    width: 100%;
}
.list-item h4 {
    margin: 10px 0;
}
.item-sidebar {
    padding: 0;
    list-style: none;
}
.item-sidebar img {
    width: 50px;
    margin: 0 10px 10px 0;
}
.item-sidebar li {
    padding: 10px 0;
}
.item-sidebar li a {
    display: flex;
    align-items: flex-start;
    line-height: 20px;
}
.list-item .nav-link {
    padding: 0;
}
.column {
    flex-direction: inherit!important;
}
.column .card-body {
    width: 230px;
    flex: 0 0  auto;
}
.searchInput {
    border: 1px solid #cccccc;
    box-sizing: border-box;
    width: 0px;
    height: 34px;
    border-radius: 17px;
    background: #fff;
    padding: 0;
    margin: 0 10px 0 0;
    font-size: 13px;
    color: #666;
    transition: all .3s ease-in-out;
    transform: translateX(15px);
    opacity: 0;
    pointer-events: none;
}
.searchInput:focus {
    outline: none;
}

.searchInput.active {
    width: 200px;
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
    padding: 0 17px;
}

body a {
    color: #000000;
}

input::-webkit-input-placeholder {
    color: #cccccc;
}